@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root {
    --text-color: #667085;
    --title-color: #101828;
    --main-color: #8E2424;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    padding: 0 7rem;
}
/* 
    HEADER 
*/
header{
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.nav-container{
    display: flex;
    align-items: center;
    gap: 6rem;
}

.nav-links{
    display: flex;
    gap:2rem;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: var(--text-color);
}

/* Buttons */

.btn{
    padding: 0.7rem 1.2rem;
    border: none;
}
.btn-cadastro{
    color: white;
    background-color: var(--main-color);
    border-radius: 8px;
}
.btn-entrar{
    background-color: white;
    color: #667085;
}
/* 
    INTRO 
*/
#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}
#about-us h2{
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}
#about-us span{
    font-size: 3rem;
    font-weight: 600;
    color: var(--title-color);
    padding: 1.5rem 0 ;
    letter-spacing: -0.02em;
}
#about-us p{
    font-size: 1.25rem;
    color: var(--text-color);
    line-height: 1.5;
    text-align: center;
    max-width: 65%;
 }
 /*
    METRICAS 
*/
#metricas{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 6rem;
}
#metricas div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 17rem;
}
#metricas h2{
    font-size: 3.75rem;
    font-weight: 600;
    color: var(--main-color);
}
#metricas span{
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--title-color);
    padding: .75rem 0;
}
#metricas p{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.5;
 }
