@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
:root {
    --text-color: #667085;
    --title-color: #101828;
    --main-color: #8E2424;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0 7rem;
}
/* 
    HEADER 
*/
header{
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.nav-container{
    display: flex;
    align-items: center;
    gap: 6rem;
}

.nav-links{
    display: flex;
    gap:2rem;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: var(--text-color);
}

/* Buttons */

.btn{
    padding: .75rem 1rem;
    border: none;
}
.btn-cadastro{
    color: white;
    background-color: var(--main-color);
    border-radius: 8px;
}
.btn-entrar{
    background-color: white;
    color: #667085;
}
/* 
    INTRO 
*/
#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}
#about-us span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}
#about-us h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--title-color);
    padding: 1.5rem 0 ;
    letter-spacing: -0.02em;
    text-align: center;
}
#about-us p{
    font-size: 1.25rem;
    color: var(--text-color);
    line-height: 1.5;
    text-align: center;
    max-width: 65%;
 }
 /*
    METRICAS 
*/
#metricas{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 6rem;
}
#metricas div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 17rem;
}
#metricas h2{
    font-size: 3.75rem;
    font-weight: 600;
    color: var(--main-color);
}
#metricas span{
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--title-color);
    padding: .75rem 0;
}
#metricas p{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.5;
 }

 /* 
    VAGAS 
*/

/* Talentos */
#vagas{
    padding: 6rem 0;
}

.talentos-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.talentos-area span{
    font-size: .875rem;
    font-weight: 500;
    color: var(--main-color);
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: .5rem 1rem;
}
.talentos-area h2{
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--title-color);
    padding: 1.25rem 0;
    letter-spacing: -0.02em;
    text-align: center;
}
.talentos-area p{
    font-size: 1.25rem;
    color: var(--text-color);
    line-height: 1.5;
}
.talentos-area img{
    width: 100%;
}
.team-img{
    padding: 4rem 0;
    width: 100%;
}

/* Vagas Abertas */

.vagas-area{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 18%;
}
.vagas-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.vagas-dep{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0 0 .5rem;
}
.vaga-item{
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 1.5rem 1.5rem 1.75rem;
}
.vaga-nome{
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--title-color);
}
.vaga-info{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.5;
    padding: 2rem 0 0;
}
.vaga-info-salario{
    padding: 0 1.5rem;
}
    
/* 
    DEPOIMENTOS
*/
#depoimentos{
    padding: 4rem;
    margin: 0 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}
.depoimento-title{
    font-size: .875rem;
    font-weight: 600;
    color: var(--main-color);
    line-height: 1.25rem;
}
.depoimento-texto{
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--title-color);
    letter-spacing: -0.02em;
    line-height: 2.75rem;
    padding: 1rem 0 2rem;
}
.colaborador-img{
    width: 100%;
}
.colaborador-nome{
    font-size: 1rem;
    font-weight: 500;
    color: var(--title-color);
    padding: 1rem 0 0;
}
.colaborador-cargo{
    font-size: .875rem;
    font-weight: 400;
    color: var(--text-color);
    padding: .25rem 0 0;
}
/* 
    FOOTER 
*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    margin: 0 -7rem;
    background-color: #F9FAFB;
}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newsletter-title{
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
    color: var(--title-color);
    padding: 0 0 1.25rem;
}
.newsletter-text{
    font-size: 1.25rem;
    color: var(--text-color);
    line-height: 1.5;
}
.newsletter-input{
    padding: 2.5rem 0 0;
    text-align: center;
    width: 100%;
}
#email-input{
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: var(--text-color);
    padding: .75rem 1rem;
    margin: 0 1rem;
    width: 50%;
}
.footer-text{
    font-size: 1rem;
    color: #98A2B3;
    line-height: 1.5;
    padding: 2rem 0 0;
}